.footer {
  background-color: #2980ff;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    p {
      text-align: center;
      color: #fff;
      span {
        font-weight: 600;
      }
    }
    a {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}