header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0.1px 5px 4px 0 #e7eeef;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;

    &__logo {
      font-size: 1.5rem;
      .paint {
        &::after {
          transform: rotate(3deg);
          width: 125%;
          left: -18%;
          top: -5%;
        }
      }
    }
    &__burger {
      display: none;
      .icon {
        font-size: 1.5rem;
      }
    }
    &__nav-list {
      display: flex;
      gap: 1rem;
      .nav-item {
        a {
          border-radius: 4px;
          padding: 0.3rem 1rem;
          border: 2px solid #000;
          &.paint {
            &::after {
              width: calc(100% + 3px);
              height: calc(100% + 3px);
              left: 3px;
              bottom: 3px;
              animation: navPaintMove 0.33s;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .navbar {
      padding: 1rem 2rem;
      &__logo {
        font-size: 1rem;
      }
      &__nav-list {
        display: none;
      }
      &__burger {
        display: block;
      }
    }
  }
}
@keyframes navPaintMove {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
