.problems_section {
  .lesson_title {
    text-align: center;
    margin: 1rem 0;
  }
  .task {
    margin: 2rem 0;
    &__instruction {
      font-size: 1.2rem;
      font-weight: 500;
      color: hsl(255deg, 85%, 30%);
    }
    &__order-num {
      background-color: hsl(255deg, 85%, 30%);
      color: #fff;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
    }
    &__problems {
      margin: 1rem 3.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      .problem {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 400px;
        position: relative;
        &__answer {
          width: 4rem;
          border: 1px solid #d8d7d7;
          font-size: 1.1rem;
          padding: 0 0.4rem;
          outline: none;
          text-align: center;
          &.correct_input {
            border: 1px solid green;
          }
          &.wrong_input {
            border: 1px solid red;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &.correct_text::before {
          content: "Correct!";
          color: green;
          position: absolute;
          right: -70px;
        }
        &.wrong_text::before {
          content: "Wrong!";
          color: red;
          position: absolute;
          right: -70px;
        }
      }
    }
    .problems_dashboard {
      display: flex;
      align-items: center;
      .submit-btn {
        font-weight: 600;
        padding: 0.6rem 1.2rem;
        color: #fff;
        border-radius: 0.5rem;
        background-color: rgb(45 181 93);
        transition: 0.3s;
        margin: 0 3.5rem;
        &:hover {
          background-color: rgb(38 154 79);
        }
      }
      .score_result {
        font-size: 1.1rem;
        color: rgb(45 181 93);
        span {
          font-weight: 600;
          font-size: 1.3rem;
          font-family: "Sriracha", "Wotfard", Futura, -apple-system;
        }
      }
    }
    @media screen and (max-width: 900px) {
      .task__problems {
        display: flex;
        flex-direction: column;
        .problem {
          justify-content: space-between;
          margin-right: 3rem;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .problems_section {
    .task {
      &__instruction {
        font-size: 1rem;
      }
      &__order-num {
        width: 2rem;
        height: 2rem;
      }
      &__problems {
        margin: 1rem;
      }
      .problems_dashboard {
        .submit-btn {
          margin: 1rem;
        }
      }
    }
  }
}