.container {
  padding-bottom: 3rem;
  .main-section-title {
    text-align: center;
    margin: 2rem;
  }
  .chapters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    .chapter {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 0.3rem;
      position: relative;
      transition: 0.2s;
      &__index {
        font-size: 1.3rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #2980FF;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      }
      &__title {
        line-height: 1;
        padding: 1rem;
        cursor: pointer;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
        min-height: 5rem;
        background-color: #2980FF;
        border-radius: 0.3rem 0.3rem 0 0;
      }
      &__caption {
        font-weight: 300;
        padding: 1rem;
      }
      .exercise-count {
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          // border: 1px solid black;
          padding: 0.5rem 0;
          margin-right: .5rem;
        }
      }
      .stack {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        padding: 1rem;
        margin-top: auto;
        li {
          padding: .4rem;
          background-color: aliceblue;
          border-radius: 5px;

        }
      }
      .start-btn {
        border: 1px solid #2980FF;
        background: transparent;
        margin: 1rem;
        padding: .8rem;
        border-radius: .3rem;
        color: #2980FF;
        font-size: 1.2rem;
        transition: .2s all;
        margin-top: auto;
        &:hover {
          background-color: #2980FF;
          color: #fff;
        }
      }
      &:hover:nth-child(odd) {
        transform: rotate(-4deg) scale(1.04);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
      &:hover:nth-child(even) {
        transform: rotate(4deg) scale(1.04);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .chapters {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem;
      .chapter {
        width: 90%;
      }
    }
  }
}
